body {
    font-family: sans-serif;
}

#assignment-instructions {
    color: blue;
    font-family: sans-serif;
}

.second-code {
    color: green;
}

code {
    font-family: monospace;
    color: red;
}

li+li {
    color: white;
    background: black;
}

ol>li {
    color: white;
    background: black;
}